<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.almaunion.statraiff"
    android:versionCode="15"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true" 
        android:icon="@drawable/icn_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.almaunion.statraiff.MainRaiffStat" 
            android:label="@string/app_name"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="ru.almaunion.statraiff.ReportListAll"
              android:label="@string/report_name"
              android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity android:name="ru.almaunion.statraiff.PlacesList"
              android:label="@string/places_name"
              android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <receiver android:name="ru.almaunion.statraiff.SMSReceiver" android:enabled="true">
	      <intent-filter>
	        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
	      </intent-filter>
    	</receiver>
        
        <activity android:name="ru.almaunion.statraiff.CategoryList" 
              android:label="@string/exp_categories"
              android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
    	<activity android:name="ru.almaunion.statraiff.ReportTabs"  
              android:label="@string/report_name"
              android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
    	<activity android:name="ru.almaunion.statraiff.ReportSummary" 
              android:label="@string/report_name"
              android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
    	<activity android:name="ru.almaunion.statraiff.donationui.ui.StartUpActivity"
      			android:label="@string/str_donation"
      			android:configChanges="keyboardHidden|orientation|screenSize">
      	</activity>
      	
    	<activity android:name="ru.almaunion.statraiff.donationui.ui.MainDonationActivity" 
      			android:label="@string/str_donation"
      			android:configChanges="keyboardHidden|orientation|screenSize">
      	</activity>
    	
    	<activity android:name="ru.almaunion.statraiff.donationui.ui.PurchaseDonationActivity"
      			android:label="@string/str_donation"
      			android:configChanges="keyboardHidden|orientation|screenSize">
      	</activity>
      	
        
    </application>

</manifest>